recursive-include qwt *.png *.svg *.pot *.po *.mo *.dcm *.ui
recursive-include scripts *.*
recursive-include src *.hpp *.cpp *.pyx
recursive-include doc *.py *.rst *.png *.ico
include MANIFEST.in
include LICENSE
include README
include CHANGELOG 